.brand {
    margin-top: 13rem;
    padding: 5rem 0;
    background-color: #f7f7f7;
    .item {
        width: 14rem;
    }
}

@media(min-width: 567px) and (max-width:768px) {
    .brand {
        margin-top: 8rem;
    }
}

@media(max-width:566px) {
    .brand {
        margin-top: 5rem;
    }
}