.process {
    padding: 7rem 0;
    &__content {
        padding: 7rem 0 0 7rem;
        &-note {
            color: #e9168c;
            font-size: 14px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            margin-bottom: 20px;
        }
        &-title {
            color: #303133;
            font-size: 3rem;
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: 25px;
        }
        &-describe {
            color: #777;
            font-size: 15px;
            font-family: 'Quicksand', sans-serif;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }
    .countup__item {
        span {
            font-size: 2.5rem;
            color: #e9168c;
            font-weight: 500;
        }
    }
}

.bg_process {
    background-color: #f7f7f7;
}

#bg_progress {
    background-color: #e9168c;
}

.progress-bar {
    transition: .5s;
    background-color: #e9168c;
    height: 12px;
    max-height: 4rem;
    border-radius: 7px;
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
}

.progress .title {
    transition: .5s;
    color: white;
    font-size: 12px;
    padding-left: 15px;
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

@media(min-width:576px) and (max-width:768px) {
    .process {
        &__content {
            padding: 5rem 0 0 0;
        }
    }
}

@media(max-width: 575px) {
    .process {
        &__content {
            padding: 5rem 0 0 0;
        }
        &__image {
            margin-top: 3rem;
        }
    }
}